<h2 class="title-msg font">Sudoku Resolver</h2>
<div class="container">
	<div class="flex">
		<div class="row" *ngFor="let row of data; let i=index">
			<input class="text" type="text" 
			minlength="1" maxlength="1" (keydown)="validateEntry($event, i, j)"
			*ngFor="let cell of row; let j=index" [disabled]="data[i][j].value != ''" [(ngModel)]="data[i][j].value"
			 [ngClass]="getClass(i,j)" (change)="resetPossiblity(i,j)" />
		</div>
	</div>
	<div class="info-container">
		<h2 class="success-msg" *ngIf="show">Hurray, resolved the sudoku! Try another!</h2>

		<div class="instruction font">
			Thanks for using sudoku resolver.
			<br />
			<br />Please fill the entries of sudoku you have and then click on solve button.
		</div>
		<button (click)="startSolving()" class="button font">Solve</button>
		<button (click)="reset()" class="button reset font">Reset</button>
	</div>
</div>
<div class="footer">
	&copy; 2018 Kapil Jethava Inc. India
</div>

<!-- <div class="flex" *ngIf="show">
	<div class="row" *ngFor="let row of data; let i=index">
		<div class="values"  *ngFor="let cell of row; let j=index">
			{{ cell | json }}
		</div>
	</div>
</div> -->
